[submodule "1_Exos/my_utf8_count_char.c/youenn_tillard-langweb-exos-1"]
	path = 1_Exos/my_utf8_count_char.c/youenn_tillard-langweb-exos-1
	url = https://gitlab-2600.rbean.io/root/youenn_tillard-langweb-exos-1
